{% extends 'base.html' %}

{% block title %}
    List_tasks - Tracker
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>"My Tasks"</h1>
            {% if list_task %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                        <tbody>
                            {% for task in list_task %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>{{ task.is_completed|yesno }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            {% else %}
                <p>"You have no tasks"</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
